process {
    withName:fastqDump {
        container = "evolbioinfo/sratoolkit:v2.10.8"
    }
    withName:index {
        container = "evolbioinfo/star:v2.7.10a_alpha_220818"
    }
    withName:mapping {
        container = "evolbioinfo/star:v2.7.10a_alpha_220818"
    }

}
docker {
    enabled = true
}
