process {
    withName:fastqDump {
        container = "testsra.sif"
    }
    withName:index {
        container = "teststar.sif"
    }
    withName:mapping {
        container = "teststar.sif"
    }

}
singularity {
    enabled = true
    runOptions = '--bind /home/ubuntu/data/mydatalocal/hackaton'
}

