params {

    cpus = 18
    mapping_memory = '50GB'

    gtf_URL="ftp://ftp.ensembl.org/pub/release-101/gtf/homo_sapiens/Homo_sapiens.GRCh38.101.chr.gtf.gz"
    genome_URL="ftp://ftp.ensembl.org/pub/release-101/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome"
    samples = ['SRR628582','SRR628585']
    chr = ['1', '2', '3']

}

process {
    withName:fastqDump {
        container = "../sratoolkit/singularity.img"
    }
    withName:index {
        container = "../star/singularity.img"
    }
    withName:mapping {
        cpus = 14
        container = "../star/singularity.img"
    }
    withName:samtoolsIndex {
        container = "../samtools/singularity.img"
    }
    
    withName:DESeq {

        container = "docker://evolbioinfo/deseq2:v1.28.1"
    }

}
singularity.enabled = true
